/* ***************************** 
 * ヘッダー                     *
 ***************************** */
header {
    max-height: 50px;
    min-height: 50px;
}
header .navbar {
    padding-top: 0;
    padding-bottom: 0;
}

/* ***************************** 
 * サイドバー                   *
 ***************************** */
.sidebar {
    max-width: 250px;
    min-width: 250px;
    max-height: calc(100vh - 50px);
    min-height: calc(100vh - 50px);
    background-color: #336B87 !important;
}
.sidebar li{
    background-color: rgba(255, 255, 255, 0.493);
    color: white;
}

/* ***************************** 
 * 共通パーツ                   *
 ***************************** */
.card {
    width: 250px;
    margin: 5px;
}
.card-body {
    padding: 5px !important;
}

.read_more {
    width: 300px;
    margin: 10px 0;
    text-decoration: none;
}
