#work_games {
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 10px;
    width: 1100px;
}
#work_css_magic {
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 10px;
    width: 1100px;
}